html {
   /* background-image: url(assets/bappa.jpg);*/
    background-color: #000000; 
    height: 100%;
}

body {
    color: rgb(160, 170, 18);
    display: -webkit-box;
    display: flex;
}

img {

    border-radius: 0%;
    height: 70%;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.ganesha {
    display: block;
    width: 100%;
    text-align: center;
}

h2 {
    position: absolute;
    left: 40%;
    font-size: 50px;
    font-family: monospace;
    -webkit-text-stroke: 0vw #d87272;
}

h2::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #ed6868;
    -webkit-text-stroke: 0vw #d87272;
    border-right: 2px solid #ffffff;
    overflow: hidden;
    animation: slide 9s linear infinite;
    -webkit-animation: slide 9s linear infinite;
}

@keyframes slide {
    0% {
        width: 0;
    }

    70% {
        width: 105%;
    }
}


particle {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
}


button {
    padding: 20px;
    margin: 10px;
    align-self: center;
}

.preloader {
    position: absolute;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/127738/fruit-face.png);
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #0f0f0f;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #0c0c0c
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #30a78d;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}